<section class="content-area">
  <article class="content">
    <section class="content-inner">
      <legend>本編</legend>
      <legend class="sub-legend">0日目</legend>
      <section>
        プレイヤーたちは日々の喧騒を忘れ、静かな島への旅行を企画する。
        物語は夜行フェリー幸福丸にて江津島に向かっているところから始まる。
        時刻は19:00でPLたちは全員同じ部屋に宿泊している。部屋に他の観光客は泊まっていない。
      </section>
      <section class="point-explain">
        <legend class="point-legend">フェリーの客室</legend>
        <section>
          　部屋にあるもの: 電源が入っているテレビ、机、布団4枚、冷蔵庫、本棚
        </section>
        <section>
          テレビ：バラエティー番組が流れている。
        </section>
        <section>
          窓：天気はよく波も穏やかである。
        </section>
        <section>
          机：トランプとクトゥルフTRPGのルールブックがある。
        </section>
        <section>
          冷蔵庫： 中にはウーロン茶とビールが人数分ある。
        </section>
        <section>
          本棚： 江津島のガイドブックがある。(舞台説明以上の情報はない)
        </section>
        <section>
          聞き耳(成功): 波の音がかすかに聞こえる。
        </section>
      </section>
      <section>
        自己紹介やキャラに慣れてもらうために設けた時間なので、
        ある程度プレイヤーに好きな様にロール・プレイさせる。
        <section>
          機を見計らって消灯時間といって0日目終了。
        </section>
      </section>
      <legend class="sub-legend">1日目</legend>
      <section>
        朝になるとフェリーは島に上陸している。
      </section>
      <section>
        プレイヤーはまず旅館に向かうことにする。
      </section>
      <section class="point-explain">
        <legend class="point-legend">旅館への道中</legend>
        <section>
          目星(成功): マルヨンという商店がある。サイクリングレンタルショップもある。
        </section>
        <section>
          マルヨン: 食べ物なら大抵のものは置いてありそう
        </section>
        <section>
          サイクリングショップ: 1500円で3日間借りられる(島内の探索パートの際、自転車を保有していれば経過時間に色をつけてあげるといい)
        </section>
      </section>
      プレイヤー一行は旅館「嵐山」に到着する。
      <section class="point-explain">
        <legend class="point-legend">旅館「嵐山」について</legend>
        <section>
          島で唯一の旅館。全3階建て。1階に大広間や大浴場があり、2階以上が客室である。
        </section>
        <section>
          女将がひとりとバイトがふたり、料理人がひとりで経営している。
        </section>
      </section>
      <section>
        到着すると女将が出迎えてくれ、宿泊者名簿への記入を求められる。
      </section>
      <section class="point-explain">
        目星（成功）: 宿泊者名簿から以下の宿泊者名を見つける
        <ul>
          <li>佐藤忠利</li>
          <li>藤浪夏江</li>
          <li>菅田大</li>
          <li>二宮灯</li>
          <li>中ヶ丘望</li>
        </ul>
      </section>
      <section>
        その後女将に迎えられるままに部屋へ。部屋は304号室。夕食の時間は18時と伝えられる。
      </section>
      <section>
        ここからは自由タイムだが、島でできることの選択肢は「地上山」という山に登るか、海に行くかの実質二択。
      </section>
      <section>
        時間的にどちらも行くという選択肢はとれないものとする。
      </section>
      <section>
        2手に分かれての行動を許すかどうかはキーパー次第とする。
      </section>
      <section>
        プレイヤーがどちらを選択した行き先によって「山パート」「海パート」に分岐する。
      </section>
      <section class="point-explain">
        <legend class="point-legend">山パート</legend>
        一行は登山コースの入り口に到着する。
        <section class="point-explain">
          <legend class="point-legend">登山コース入口</legend>
          <section>
            目星(成功): 山の家がある。
          </section>
          <section>
            山の家: スタックを借りることができる（スタックを持たずに登山を決行した場合、下山後疲労によるダメージ判定を行う。CON×5で0/1D3のダメージ）
          </section>
        </section>
        一行は山に登り始める
        <section>
          山の中腹あたりで全員に目星ロールを促す
        </section>
        <section>
          成功した場合、登山道から外れた場所に赤いテープで入り口を封鎖されたいかにも怪しげな洞窟を発見する。
        </section>
        <section>
          （ここで洞窟を発見しておくと後々の展開を進めやすくなるので、全員目星に失敗した場合も何かしらの理由で発見させてもいい）
        </section>
        <section class="point-explain">
          <legend class="point-legend">怪しげな洞窟</legend>
          <section>
            入り口が赤いテープで封鎖されている。
          </section>
          <section>
            近づこうとした場合、頭痛と吐き気に襲われ、中に入ることはできない。
            その場合はPOW×5でロールし、失敗した場合はSAN(0/1)
          </section>
        </section>
        <section>
          頂上に近いところで、休憩している男女に出会い、挨拶を交わす。
        </section>
        <section>
          男女はそれぞれ佐藤忠利、藤波夏江と名乗る。
        </section>
        <section>
          旅館が同じということもあり、世間話でもしながら、一緒に頂上を目指すことになる。
        </section>
        <section>
          そうするうちに一行は山の頂上に到着する。
        </section>
        <section class="point-explain">
          <legend class="point-legend">地上山頂上</legend>
          <section>
            目星(成功): 成功した人数分だけ、江津島の以下の場所の存在をプレイヤーに知らせる
          </section>
          <section>
            (どれを教えるかはご自由に。最も物語の核心をつくのは図書館)
          </section>
          <ul>
            <li>古ぼけた図書館</li>
            <li>大きなお屋敷</li>
            <li>交番</li>
          </ul>
        </section>
        頃合いを見て、日が暮れたため一行は下山し、旅館に戻ることにする
      </section>
      <section class="point-explain">
        <legend class="point-legend">海パート</legend>
        <section>
          一行は海で遊ぶことにした。
        </section>
        <section class="point-explain">
          <legend class="point-legend">海岸</legend>
          <section>
            目星(成功): 海の家、掲示板がある
          </section>
          <section>
            海の家: 水着を借りることができる
          </section>
          <section>
            掲示板: ビーチバレー大会の貼り紙を発見。本日まもなく開催されるということがわかる。
          </section>
        </section>
        <section>
          一行が海で遊んでいると、筋肉隆々の老人に話しかけられる。
        </section>
        <section>
          ビーチバレー大会に参加するつもりだったが、相方が来れなくなった。
        </section>
        <section>
          誰か一緒に出てくれないか。とのことだった。
        </section>
        <section>
          プレイヤーの中から一人を選出して、ビーチバレー大会に参加することになる。
        </section>
        <section class="point-explain">
          <legend class="point-legend">ビーチバレー大会</legend>
          <section>
            全3回戦で行われ、勝敗は互いの選手のDEX平均値の対抗ロールで行う。
          </section>
          <section>
            なお老人のDEXは17である。
          </section>
          <section>
            相手チームのDEX平均値は以下の通り。
          </section>
          <ul>
            <li>1回戦目: 9</li>
            <li>1回戦目: 11</li>
            <li>1回戦目: 13</li>
          </ul>
          <section>
            優勝した場合は、木彫りの人形をもらえる
          </section>
          <section>
            この木彫りの人形は老人（この島の村長）の手作りであり、
            所有者の幸運ロール時に+5のボーナスを与える
          </section>
        </section>
        <section>
          バレー大会の成績に関わらず、老人はプレイヤーにお礼がしたいと言う。
        </section>
        <section>
          ここで老人は自分がこの島の村長であることを明かし、プレイヤーを自宅の昼食に招待してくれる。
        </section>
        <section>
          一行はご相伴に預かることにし、村長の屋敷へ案内される（山パートの大きなお屋敷は村長の屋敷である）。
        </section>
        <section class="point-explain">
          <legend class="point-legend">村長の屋敷</legend>
          <section>
            目星(成功): ライフル銃が飾ってあることに気づく
          </section>
        </section>
        <section>
          村長の屋敷で昼食をいただき、世間話をするうち、村長はプレイヤー一行を気に入ったようで、また食事をしようと連絡先を教えてくれる。
        </section>
        <section>
          頃合いを見て、日が暮れてきたということで一行は旅館に戻ることにする。
        </section>
      </section>
      <section>
        旅館に戻ると夕食が始まる時間だ。
      </section>
      <section>
        プレイヤーは大広間にて夕食を楽しむ。
      </section>
      <section>
        夕食はマグロを中心とした海の幸と地元の名産の焼酎だ。
      </section>
      <section>
        夕食には忠利・夏江も来ており、海パートが選択された場合はここで対面することになる。
      </section>
      <section>
        しばらく経つと、客の一人である菅田大が大広間に姿を見せる。
      </section>
      <section>
        菅田はプレイヤーたちには話しかけて来ず、部屋の隅の辺りに座って焼酎を飲んでいる。
      </section>
      <section>
        プレイヤーはそのまま急激な眠気に襲われ、大広間で寝てしまう。
      </section>
      <legend class="sub-legend">2日目</legend>
      <section>
        プレイヤーは大広間で目覚める。
      </section>
      <section>
        体にはタオルケットがかけられている。女将がかけてくれたのだろうか。
      </section>
      <section>
        大広間にはプレイヤー全員と忠利がいるが、夏江と菅田はいない。
      </section>
      <section>
        忠利は夏江を探すために客室に向かう。
      </section>
      <section>
        客室へ続く階段を登っているとき、忠利が違和感を覚えてジーパンのポケットを探る。
      </section>
      <section>
        「あれ、俺こんな石拾ったっけ」と忠利が取り出したのは奇妙な文様が描かれた石であった。
      </section>
      <section>
        プレイヤーも自分の衣服を探ると忠利が持っていたのと同じ石を見つけることができる
      </section>
      <section class="point-explain">
        <legend class="point-legend">奇妙な文様が描かれた石</legend>
        <section>
          明らかに自然のものではなく、人によって加工された石
        </section>
        <section>
          肌で触れると何とも言えないおぞましさを感じる。
        </section>
        <section>
          初めて肌に触れたとき、SAN(0/1)を行う。
        </section>
        <section>
          石を捨てた場合、10分後には自分の衣類やバッグの中に戻ってくる。
        </section>
        <section>
          仮に所有者が全裸の場合は口の中に戻ってくる。
        </section>
        <section>
          プレイヤーがこの体験をした場合、SAN(0/1D3)
        </section>
        <section>
          この石はプレイヤー全員、佐藤忠利、二宮灯、中ヶ丘望、菅田大が所持するが、持ち主が死亡すると消失する。
        </section>
      </section>
      <section>
        プレイヤーが2階に登ると、強烈な生臭さを感じる。
      </section>
      <section>
        臭いは2階の一番奥にある一室206号室から漂っているようだ。
      </section>
      <section>
        206号室をノックしても返事はない。しかし、鍵は開いている。
      </section>
      <section class="point-explain">
        <section>
          目星(成功): 鍵が開いていることがわかる
        </section>
        <section>
          聞き耳(成功): 部屋の中から音は聞こえない
        </section>
        <section>
          アイデア(成功): 臭いは血の臭いであることに気が付く(SAN(0/1))
        </section>
      </section>
      <section>
        部屋に入るとそこには喉を引き裂かれて絶命している菅田がいる。
      </section>
      <section class="point-explain">
        <legend class="point-legend">菅田の死</legend>
        <section>
          目星(成功): 目星の対象によって以下の情報を得る
        </section>
        <ul>
          <li>部屋: プレイヤーの部屋と内装は同じ。争った形跡なし。</li>
          <li>死体: 喉を鋭利な刃物で切り裂かれたようだ。血は固まっている。</li>
          <li>服 : 財布が見つかる（ちなみに菅田は石を持っていない）</li>
        </ul>
        <section>
          忠利は夏江を探すため、部屋から飛び出してしまう。
        </section>
      </section>
      <section>
        ここからはしばらくプレイヤーのロールプレイを重視し、自由に行動させるとよい。
      </section>
      <section>
        パラレルワールドの設定や黒幕の設定に従ってキーパリングを行う。
      </section>
      <section>
        プレイヤーの探索先に適宜狂信者を登場させ、襲わせるようにする。
      </section>
      <section>
        難易度をどう設定するか次第だが、本気で襲わせると簡単に全滅しかねないため、ある程度は狂信者の行動を調節するとよい。
      </section>
      <section>
        いかに現在の島の状況や各NPCの行動を記載する。キーパリングの参考にしてほしい。
      </section>
      <section class="point-explain">
        <legend class="point-legend">旅館の状況</legend>
        <section>
          旅館にいる人間は、プレイヤーを除くと佐藤忠利、二宮灯、中ヶ丘望
        </section>
        <section>
          それぞれの部屋は宿泊者名簿に記載されている。
        </section>
        <ul>
          <li>佐藤忠利・藤波夏江: 303号室</li>
          <li>二宮灯: 301号室</li>
          <li>中ヶ丘望 : 201号室</li>
        </ul>
      </section>
      <section class="point-explain">
        <legend class="point-legend">佐藤忠利・藤波夏江</legend>
        <section>
          夏江は生贄対象ではないため、このパラレルワールドにはいない。
        </section>
        <section>
          忠利は部屋に戻り、夏江の不在を確認した後旅館を飛び出して行ってしまう。
        </section>
        <section>
          その後プレイヤーと合流できるかはキーパー次第だが、合流できなかった場合は狂信者によって殺害される。
        </section>
      </section>
      <section class="point-explain">
        <legend class="point-legend">二宮灯</legend>
        <section>
          二宮灯は自室で小説の執筆活動に集中しているため、プレイヤーが部屋を訪れない限りは外に出てこない。
        </section>
        <section>
          島の古びた図書館で探索を行う際、灯がいれば探索ハードルが下がるので、プレイヤーととっては有用なNPC。
        </section>
        <section>
          プレイヤーと合流できなかった場合は自室にて狂信者によって殺害される。
        </section>
      </section>
      <section class="point-explain">
        <legend class="point-legend">中ヶ丘望</legend>
        <section>
          中ヶ丘望は異臭に気づき、プレイヤーよりも早く菅田の死体を発見する。
        </section>
        <section>
          その後、殺人鬼の影におびえ、自分も殺されると思い込んでおり、部屋にこもりきっている。
        </section>
        <section>
          プレイヤーと合流できなかった場合は自室にて狂信者によって殺害される。
        </section>
      </section>
      <section class="point-explain">
        <legend class="point-legend">古びた図書館</legend>
        <section>
          図書館には村長の先祖が残した、イスタシャの契約についての文献がある。
        </section>
        <section>
          文献は図書館のとある床板の下に隠されている。
        </section>
        <section>
          床板の上を歩くとぐらつくため、目星ロールなどで見つけることができる。
        </section>
        <section>
          文献を読みことでプレイヤーは神話的知識を得ることになり、SAN(1D3/1D6)
        </section>
      </section>
      <section class="point-explain">
        <legend class="point-legend">村長の家</legend>
        <section>
          村長は狂信者と協力関係にあるため、プレイヤーをかくまうふりをして命を狙う。
        </section>
        <section>
          そのため村長の家に行った場合は戦闘になる。
        </section>
        <section>
          戦闘時、村長の体力が半分以下になったとき、説得ロールに応じる(海パートを経験している場合は+20の補正)。
        </section>
        <section>
          説得ロールに成功した場合は古びた図書館で手に入る文献と同等の内容を村長の口から聞くことができる。
        </section>
        <section>
          プレイヤーは神話的知識を得ることになるが、文献を読む場合よりも失う正気度は少ない(SAN(1/1D3))
        </section>
      </section>
      <section class="point-explain">
        <legend class="point-legend">「地上山」の洞窟</legend>
        <section>
          赤いロープで入り口を封鎖された怪しげな洞窟であり、狂信者のアジト。
        </section>
        <section>
          魔術結界によって入り口を閉ざしているが、入り口付近の魔力の込められた石を破壊することで解除可能(石は目星やアイデアで発見可能)。
        </section>
        <section>
          洞窟内には地下へと続く階段があり、地下室にイスタシャとの契約に用いた魔導書が配置してある。
        </section>
        <section>
          魔導書を解読する場合は英語技能でロールし、成功すれば今回必要そうな部分のみピックアップして読むことができるのでSAN(1D3/1D6)で済むが、
          失敗した場合は全体的に目を通す必要があり、SAN(1D6/1D10)
        </section>
      </section>
      <section class="point-explain">
        <legend class="point-legend">狂信者の襲撃</legend>
        <section>
          狂信者はプレイヤーや生贄対象のNPCたちの命を狙って襲撃を行う。
        </section>
        <section>
          生贄対象の人間が所持する石によって常に位置情報を把握しているため、探索目的地にあたりをつけて先回りすることも可能。
        </section>
        <section>
          しかし、人の限界を超えた速度で移動できるわけではないので、車などでの移動で振り切ることも可能。(プレイヤーの探索中に車を破壊することは可能)
        </section>
        <section>
          戦闘になった場合は不死の力によってほぼ確実に敗北することはないが、21:00以降は不死の力が弱体化する。
        </section>
        <section>
          戦闘時、村長の体力が半分以下になったとき、説得ロールに応じる(海パートを経験している場合は+20の補正)。
        </section>
        <section>
          説得ロールに成功した場合は古びた図書館で手に入る文献と同等の内容を村長の口から聞くことができる。
        </section>
        <section>
          プレイヤーは神話的知識を得ることになるが、文献を読む場合よりも失う正気度は少ない(SAN(1/1D3))
        </section>
      </section>
      <section>
        シナリオクリアの条件は、イスタシャの契約について知った上で、以下のいずれかを満たすこと。
      </section>
      <ol>
        <li>狂信者の殺害</li>
        <li>契約破綻まで生き延びる</li>
      </ol>
      <section class="point-explain">
        <legend class="point-legend">狂信者の殺害</legend>
        <section>
          21:00になるまでは狂信者の殺害は事実上不可能であり、逃げ続けるしかない。
        </section>
        <section>
          21:00後、狂信者に遭遇すると何やら焦った様子であり、苦しむ姿を見ることができる。
        </section>
        <section>
          この状態の狂信者は即時自動回復する装甲5に相当する防護結界を身にまとっているが、強度的には少し強い程度の人間のため倒せない相手ではない(プレイヤーの能力値や所持品によって6以上のダメージをたたき出すことが難しいと判断するなら、装甲値を減らすことも検討する)。
        </section>
        <section>
          狂信者を倒したプレイヤーは意識を失ってしまい、気づくと旅館の大広間で大の字になっている。
        </section>
      </section>
      <section class="point-explain">
        <legend class="point-legend">契約破綻まで生き延びる</legend>
        <section>
          3日目を迎えるまで逃げ続けることで、生贄を捧げるという契約が破綻し、狂信者は全身から炎を噴き出して灰となる。
        </section>
        <section>
          3日目の0:00になったとき、空に白い亀裂が走る。
        </section>
        <section>
          亀裂はどんどん広がっていき、そのうちプレイヤーたちの足場まで崩れ始める。
        </section>
        <section>
          そのままプレイヤーたちは世界の亀裂に落ちてしまうが、次の瞬間には旅館の大広間で大の字になっている。
        </section>
      </section>
      <legend class="sub-legend">3日目(エンディング)</legend>
      <section>
        気がつくとプレイヤーと生き残ったNPCは全員大広間で大の字になっていた。
      </section>
      <section>
        体にはタオルケットがかけられている。
      </section>
      <section>
        ここは元の世界なのかと疑問に思っていると、女将が大広間に入ってくる。
      </section>
      <section>
        「みなさん、よく眠ってらっしゃいましたね」
      </section>
      <section>
        焼酎の飲み過ぎで嫌な夢を見たのだろうか。
      </section>
      <section>
        しかし、衣服のポケットに違和感を覚えたプレイヤーが、中を探ると何やら砂のようなものが入っていた。
      </section>
      <section>
        その砂はあの石と同じ色をしているような気がした。
      </section>
    </section>
  </article>
</section>