<section class="content-area">
  <article class="content">
    <section class="content-inner">
      <legend>あらすじ</legend>
      <p>{{content.summary}}</p>
      <legend>舞台設定</legend>
      <section>
        時代は2010年代、季節は夏の終わり。
        日本の領海の東外れにある江津島が舞台。（島の名前はご自由に）
        江津島は本州から沖合60kmの人口150人程度の島で東京都に属する。
        面積は18.87km2。漁業・観光が島の大きな産業であり、
        釣り客や「地上山」のトレッキング目的の客が多い。
        焼酎と本マグロが名産。
        旅館の夕食では必ずと言っていいほど焼酎と刺し身が出される。
        電気ガス水道などのインフラは整備されているが、フリーwifiは皆無。
        診療所と港はあるが空港はない。交番はひとつだけ存在する。
      </section>
      <legend>はじめに</legend>
      <section>
        推奨技能: 探索3種（目星・聞き耳・図書館）、戦闘技能
      </section>
      <section>
        準推奨技能: 英語、運転
      </section>
      <section>
        プレイ時間: ３～４時間程度
      </section>
      <section>
        プレイヤーは同じフェリーで島に向かうため、知り合い設定であることが望ましいです。
        <section>
          また2日目はほとんどキーパーのアドリブに任せるような構成になっているため、キーパリングの難易度が高いかもしれないです。
        </section>
        <section>
          またダイスロール結果を以下のような記法で説明しています。
        </section>
        <section>
          技能値(成功した場合の値/失敗した場合の値)
        </section>
        <section>
          ex) SAN(0/1)　→　SANチェックを行い、成功時0、失敗時1のSAN減少
        </section>
      </section>
    </section>
  </article>
</section>