<article>
  <nav class="nav">
    <a class="nav-link content-link" (click)="return()">戻る</a>
  </nav>
  <section class="content-area">
    <article class="content">
      <section class="content-inner">
        <legend>規約</legend>
        <section>
          改変、二次配布自由にどうぞ
        </section>
        <section>
          動画やゲーム、同人等の使用（仮に商用でも）OKです
        </section>
        <section>
          <span>製作者の明記や報告などいりません！（でも報告してくださると喜びます。作者アカウント: </span><a href="https://twitter.com/RinGoku98" target="_blank">@RinGoku98</a><span>）</span>
        </section>
        <section>
          ただし、上記の使用で何かトラブル等が起こった場合の責任は負いかねます
        </section>
        <section>
          よろしくお願いします
        </section>
        <section>
          <span>何か質問があれば</span><a href="https://twitter.com/RinGoku98" target="_blank">@RinGoku98</a><span>まで。</span>
        </section>
      </section>
    </article>
  </section>
</article>