<section class="content-area">
  <article class="content">
    <section class="content-inner">
      <legend>シナリオ概略</legend>
      <section>
        シナリオはゲーム内時間で２～３日を想定している。
      </section>
      <section>
        プレイヤー一行は江津島という島に旅行に出かける。
      </section>
      <section>
        1日目は島を満喫するのだが、2日目の朝に殺人事件が発生する。
      </section>
      <section>
        さらに島の人間がプレイヤー一行と数人以外全て消えてしまっていることに気づく
      </section>
      <section>
        警察や外部への連絡もできない状況でプレイヤーは謎の男に追跡され、命を狙われ続ける
      </section>
      <section>
        果たしてプレイヤーは無事に島を脱出することができるのか…
      </section>
      <legend>真相</legend>
      <legend class="sub-legend">黒幕</legend>
      <section>
        黒幕は「ルー＝クトゥの魔神たち」で言及されている女神イスタシャの狂信者
      </section>
      <section>
        イスタシャは自身の契約者に不老不死の力を授ける。
      </section>
      <section>
        だがその代償に50年に1度、(4人 + プレイヤーの人数)の生贄をイスタシャに捧げる必要がある。
      </section>
      <section>
        またこの生贄はイスタシャに指定された1日の間に、しかも生贄が睡眠状態でないときに殺害する必要がある。
      </section>
      <section>
        この代償を支払わない場合、契約者はただちに塵となって消える。
      </section>
      <section>
        今回の狂信者はこの契約を滞りなく継続するために以下のような工夫を行っている。
      </section>
      <ul>
        <li>生贄に捧げる人間に目星をつけ、それらに目印をつけて居場所を常に把握する</li>
        <li>小規模なパラレルワールド(江津島全体)を作成し、その中に生贄すべてを閉じ込める</li>
      </ul>
      <section>
        これらはイスタシャがもたらしてくれるわけではなく、不老不死を利用して狂信者が独自に開発した魔術である
      </section>
      <section>
        プレイヤーは途中で奇妙な石を手に入れるのだが、この石こそ狂信者のつけた目印である。
      </section>
      <section>
        また、ストーリー2日目より生贄対象となった人間はすべて、江津島全体をコピーして作られたパラレルワールドに飛ばされており、
        ここから脱出する手段は狂信者を死亡させるしかない。
      </section>
      <section>
        よってプレイヤーのシナリオクリア条件は以下のいずれかを満たすこと。
        <ol>
          <li>狂信者を殺害する</li>
          <li>契約が破綻するまで逃げ続ける</li>
        </ol>
      </section>
      <legend class="sub-legend">不老不死</legend>
      <section>
        シナリオクリア条件に関して「1. 狂信者を殺害する」をあげたが、そもそも狂信者は不老不死ではないのかと疑問に思うだろう。
      </section>
      <section>
        イスタシャが与える不老不死は完全な不老不死ではなく、以下のような能力を手に入れるものと考えてもらいたい。
      </section>
      <ol>
        <li>老化の信仰スピードが300分の1になる(不老)</li>
        <li>装甲30に相当する即時自動回復する防護結界を常時発動する(不死)</li>
      </ol>
      <section>
        これでも事実上殺害することは不可能に思える。
      </section>
      <section>
        だが、イスタシャとの契約が破綻する直前(2日目21時以降)はこの能力が弱まり、
        防護結界の装甲が5まで低下する
      </section>
      <section>
        この情報は島の古びた図書館もしくは「地上山」の怪しげな洞窟の隠し部屋(狂信者のアジト)から取得することが可能。
      </section>
      <legend class="sub-legend">パラレルワールド</legend>
      <section>
        ストーリー2日目からの舞台は本当の江津島ではなく、狂信者によってコピーされたパラレルワールドの江津島となる。
      </section>
      <section>
        基本的に元の江津島と変わりないのだが、以下のような差異がある。
      </section>
      <ul>
        <li>島にいる人間は生贄対象となった人間のみである</li>
        <li>海が霧がかっており、船などで脱出しようとするといつの間にか島に戻ってきてしまう</li>
      </ul>
      <legend class="sub-legend">生贄</legend>
      <section>
        生贄対象となる人間は以下の通りである
      </section>
      <ul>
        <li>プレイヤー全員</li>
        <li>佐藤忠利</li>
        <li>菅田大</li>
        <li>二宮灯</li>
        <li>中ヶ丘望</li>
      </ul>
      <legend class="sub-legend">村長</legend>
      <section>
        村長は狂信者の協力者である。
      </section>
      <section>
        村長の一族は代々狂信者に協力し、その力で財をなしてきた。
      </section>
      <section>
        その一族の一員が自分の行いに後ろめたさを感じ、島の図書館に手がかりを残している。
      </section>
    </section>
  </article>
</section>